*
{
    margin: 0;
    padding: 0;
}

.progress
{
    width: 78%;
    height: 5px;
    margin-top: 3%;
}
.progress-per
{ 
    position: absolute;
    right: 20%;
    color: red;
  
}
.input-icons i { 
    position: absolute; 
} 
  
.input-icons { 
    width: 100%; 
    margin-bottom: 10px; 
} 
  
.icon { 
    padding: 15px; 
    color: black; 
    min-width: 50px; 
    text-align: center; 
} 
 .icon2
 {
     color: red;
 } 



.input-field { 
    width: 100%; 
    padding: 10px; 

} 
::placeholder
{
position: relative;
left:10%;
} 

.table
{
    border: 1px solid black;
    padding: 5px;
}
.line
{
    border-left: 2px solid #000;
    height: 100px;
   margin-left: 30%;
}
.previous
{
    padding-right: 150px;
    text-align: center;
    border: 1px solid black;
}
.continue
{
    padding-right: 150px;
    margin-left: 0px; 
}
.less
{
    width: 100%;
    padding: 10px;
}

@media (max-width:600px)
{
    .box
    {
       margin: 0 30px;
    }

    .line
{
    border-left: 2px solid #000;
    height: 100px;
   margin-left: 40%;
}
.continue
{
    padding-right: 150px;
    margin-left: 0px; 
    margin-top: 5%;
}

}